fastapi
uvicorn[standard]
asyncpg
aiofiles
jinja2
python-multipart
Flask
Flask-Cors
Flask-SocketIO
timezonefinder
pytz
requests
python-engineio
python-socketio
msgpack
httpx
pydantic
python-multipart
orjson
redis
psutil
